// Primary font used

$primary-font: 'Roboto', sans-serif;
// Variables related to button module.

$button-primary: #B7C11E;
$button-secondary: #23A38F;
$button-error: #F0563D;
$button-fg-color: #FFFFFF;
$button-shadow-color: rgba(0, 0, 0, .3);
